@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #00a86baa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.discord-messages {
  color: #fff;
  background-color: #36393e;
  display: block;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 170%;
  border: 1px solid rgba(255, 255, 255, 0.05);
}